@font-face {
    font-family: "montserrat";
    src:url("./Montserrat-VariableFont_wght.ttf");
}

@font-face {
    font-family: "fraunces";
    src: url("Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf");
}
* {
    margin: 0;
    padding: 0;
    font-family: "montserrat";
    box-sizing: border-box;
    font-size: 14px;
}

.container {
    display: flex;
    background: hsl(30, 38%, 92%);
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.product {
    width: 50%;
    max-width: 600px; 
    background: white;
    display: flex;
    border-radius: 10px;
    border: 0;
    outline: 0;

}

.gallery {
    flex-basis: 50%;
   

}

.gallery #img1{
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;

}

.gallery #img2 {
    display: none;
}

.details {
    flex-basis: 50%;
    padding: 30px;
    
}

.details :nth-child(1) {
    margin-bottom: 20px;
}

.details :nth-child(3) {

    margin-bottom: 25px;
}


.details > p {

    color:hsl(228, 12%, 48%);



}

.details h1{
    font-family: "fraunces";
    font-size: 40px;
    line-height: 1;
    margin-bottom: 25px;

}

.price {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}


.price :nth-child(1) {
    font-family: "fraunces";
    font-size: 35px;
    width: 160px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    margin-bottom: 0;
}


.price :nth-child(2) {
    text-decoration: line-through;
    color:hsl(228, 12%, 48%);
}

button {
    width: 100%;
    height: 45px;
    border: 0;
    outline: 0;
    background: hsl(158, 36%, 37%);
    color: white;
    font-weight: 500;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;    
}

button svg {
    margin-top: 20px;
    margin-right: 10px
}

@media only screen and (max-width: 375px) {
  .container {
    height: 100%;
  }
 .product {
    flex-direction: column;
    margin: 20px 10px; 
    width: 100%;
    height: 85%;
    
 }

 .gallery {
    flex-basis: 30%;
 }

 .gallery #img1 {
   display: none;
 }
 .gallery #img2 {
    width: 100%;
    display: flex;
    border-radius: 0;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
 }
 .details {
    flex-basis: 70%;
 }


 
}